.ui-main__custom-sw-inner {
        position: relative;
    .ui-main__nav-link {font-size: 16.25px;
        color: #292929;
        text-decoration: none;
        letter-spacing: -0.4px;
        line-height: 30px;
        position: relative;
        margin: 0;
        padding: 0;
        position: relative;
        top: 12px;
        >img {
            height: 18px;
            margin: 6px 0 0 14px;
            position: absolute;
        }
        &:hover {
            color: #36a18b;
            cursor: pointer;
        }
        // -webkit-animation-name: animScrol; /* Safari 4.0 - 8.0 */
        // -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        // -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
        // animation-name: animScrol;
        // animation-duration: 4s;
        // animation-delay: 2s;
    }
    .ui-card-wr__card-btn {
        font-size: 14.5px;
        font-weight: 400;
        color: #ffffff;
        line-height: 20px;
        letter-spacing: -0.4px;
        text-decoration: none;
        display: inline-block;
        margin: 0;
        padding: 8px 15px 7px;
        background-color: #36a18b;
        border: solid 2px #36a18b;
        border-radius: 8px;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 65px;
        // -webkit-animation-name: animScrolBtn; /* Safari 4.0 - 8.0 */
        // -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        // -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
        // animation-name: animScrolBtn;
        // animation-duration: 1s;
        // animation-delay: 2s;
    }
}