<div class="ui-main-content">

    <!-- Banner section -->
    <section class="ui-main-content__banner-wr">
        <h1 class="ui-title">Find a plan that works for you.</h1>
        <h4><a class="ui-desc">Personal</a><a class="ui-desc">Business</a></h4>
    </section>

    <!-- Card section -->
    <section class="ui-main-content__cards-wr">
        <div class="ui-card-wr t-center">
            <h1 class="ui-card-wr__name">N26</h1>
            <div class="ui-card-wr__card">
                <img src="http://images.ctfassets.net/q33z48p65a6w/2DqC4xSMtayA6kmOo64I0E/3ffc778485421fda7b68b01f554700e0/n26-cards-mastercard-uk.png?fit=thumb&fm=png&q=90&w=275"/>
            </div>
            <div class="ui-card-wr__card-switch t-center">
                <button class="ui-card-switch a1"></button>
            </div>
            <a class="ui-card-wr__card-btn" routerLink="/account">Open account</a>
        </div>
        <div class="ui-card-wr t-center">
            <h1 class="ui-card-wr__name">N26 You</h1>
            <div class="ui-card-wr__card">
                <img src="https://images.ctfassets.net/q33z48p65a6w/7bHsCLfXHvoqnBWbuSNXQo/932381bf72732b4cf1c082f0cf773ca2/n26-cards-mastercard-teal-de.png?fit=thumb&fm=png&q=90&w=275"/>
            </div>
            <div class="ui-card-wr__card-switch t-center">
                <button class="ui-card-switch b1"></button>
                <button class="ui-card-switch b2"></button>
                <button class="ui-card-switch b3"></button>
                <button class="ui-card-switch b4 active"></button>
                <button class="ui-card-switch b5"></button>
            </div>
            <a class="ui-card-wr__card-btn" routerLink="/account">Open account</a>
        </div>
        <div class="ui-card-wr t-center">
            <h1 class="ui-card-wr__name">N26 Metal</h1>
            <div class="ui-card-wr__card">
                <img src="https://images.ctfassets.net/q33z48p65a6w/4tH5CPvCzm6eWusOuACoaU/bc5e6d4e6ab790cce10052fd55b5e4f1/n26-cards-mastercard-metal-charcoalblack.png?fit=thumb&fm=png&q=90&w=275"/>
            </div>
            <div class="ui-card-wr__card-switch t-center">
                <button class="ui-card-switch c1 active"></button>
                <button class="ui-card-switch c2"></button>
                <button class="ui-card-switch c3"></button>
            </div>
            <a class="ui-card-wr__card-btn" routerLink="/account">Open account</a>
        </div>
    </section>

    <!-- Plans section -->
    <section class="ui-main-content__plans-wr">
        <div class="ui-plan-wr">
            <h1 class="ui-plan-wr__name">€0.00<span class="ui-plan-wr__name--sm">/month</span></h1>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free ATM withdrawals in euros</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free payments in any currency</p>
            </div>
            <div class="ui-plan-wr__desc disable">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free withdrawals worldwide</p>
            </div>
            <div class="ui-plan-wr__desc disable">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Allianz insurance package</p>
            </div>
            <div class="ui-plan-wr__desc disable">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Selected discounts and offers from partner brands</p>
            </div>
            <div class="ui-plan-wr__desc disable">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Exclusive access to unique Metal Experiences</p>
            </div>
            <div class="ui-plan-wr__desc disable">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Dedicated Customer Support</p>
            </div>
        </div>
        <div class="ui-plan-wr">
            <h1 class="ui-plan-wr__name">€9.90<span class="ui-plan-wr__name--sm">/month</span></h1>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free ATM withdrawals in euros</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free payments in any currency</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free withdrawals worldwide</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Allianz insurance package</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Selected discounts and offers from partner brands</p>
            </div>
            <div class="ui-plan-wr__desc disable">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Exclusive access to unique Metal Experiences</p>
            </div>
            <div class="ui-plan-wr__desc disable">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Dedicated Customer Support</p>
            </div>
        </div>
        <div class="ui-plan-wr">
            <h1 class="ui-plan-wr__name">€16.90<span class="ui-plan-wr__name--sm">/month</span></h1>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free ATM withdrawals in euros</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free payments in any currency</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Free withdrawals worldwide</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Allianz insurance package</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Selected discounts and offers from partner brands</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Exclusive access to unique Metal Experiences</p>
            </div>
            <div class="ui-plan-wr__desc">
                <img class="ui-img" src="../../assets/image/ic-check.svg"/>
                <p class="ui-desc">Dedicated Customer Support</p>
            </div>
        </div>
    </section>

    <!-- Infomation section -->
    <section class="ui-main-content__info-wr">
        <p class="ui-desc">Services and Fees for everyone who registers with an address in Germany.</p>
        <p class="ui-desc">For our detailed price list, view PDF <a>here</a></p>
    </section>

</div>
