
<!--   
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } -->

<div class="content" role="main">

  <!-- Header Navigation -->
  <div class="ui-main ui-main__header">
    <span><img class="ui-main__nav-logo" src="../assets/image/app-logo.svg"/></span>
    
    <nav class="ui-main__nav">
      <a class="ui-main__nav-link" routerLink="/account" routerLinkActive="active">Bank Account</a>
      <a class="ui-main__nav-link">N26 You<span class="n26"></span></a>
      <a class="ui-main__nav-link">Metal</a>
      <a class="ui-main__nav-link">N26 Business</a>
      <a class="ui-main__nav-link">Compare Plans</a>
      <span class="ui-main__nav-lang">
        <a class="ui-main__nav-link active">EN</a>
        <a class="ui-main__nav-link">/</a>
        <a class="ui-main__nav-link disable">DE</a>
      </span>
    </nav>

    <div class="ui-main__custom-sw">
      <!-- Scroll Animation -->
        <content-box></content-box>
    </div>
  </div>

  <!-- Main content -->
  <div class="ui-main">
      <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer>
    <div class="ui-main ui-main__footer">
      <p>© N26 GmbH / N26 Inc. 2019</p>
    </div>
  </footer>

</div>