.ui-main {
    width: 100%;
    margin-top: 70px;
    &__header {        
        height: 70px;
        width: 100%;
        padding: 0 40px;
        margin-top: 0;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 10000;
    }
    &__nav {
        height: 30px;
        width: 100%;
        padding: 0 0 0 15px;
        text-align: right;
        margin-top: 5px;
        &-logo {
            width: auto;
            height: 31px;
        }
        &-link {
            font-size: 16.25px;
            color: #292929;
            padding: 0 18px 0 0;
            margin: 0 5px;
            text-decoration: none;
            letter-spacing: -0.4px;
            line-height: 30px;
            position: relative;
            &:hover {
                color: #36a18b;
                cursor: pointer;
            }
            &.active {
                color: inherit;
                &:hover {
                    color: inherit;
                    cursor: default;
                }
            }
            &.disable {
                color: #b6b6b6;
                &:hover {
                    color: #36a18b;
                    cursor: pointer;
                }
            }
            .n26 {
                width: 8px;
                height: 8px;
                background: #36a18b;
                display: inline-block;
                position: absolute;
                top: -7px;
                border-radius: 10px;
                box-sizing: border-box;
                margin-left: 2px;
            }
        }
        &-lang {
            :first-child {
                margin-right: 0;
                padding-right: 0;
            }
            :nth-child(2) {      
                padding-right: 0;
                margin: 0 2px;
            }
            :last-child {
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
    &__custom-sw {
        width: 145px;
        height: 140px;
        align-self: normal;
        flex: none;
        position: relative;
    }
    &__footer {
        padding: 40px 40px 20px;
        background-color: #f5f5f5;
        height: 400px;
        margin-top: 0;
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (max-width: 940px) {
    .ui-main {
        &__nav {
            visibility: hidden;
        }
        &__custom-sw {
            margin-right: 50px;
            ::after {
                content: '';
                position: absolute;
                right: 0;
                margin-right: -54px;
                margin-top: -13px;
                width: 40px;
                height: 40px;
                background-repeat: no-repeat;
                background-image: url(https://cdn2.iconfinder.com/data/icons/4web-3/139/menu-512.png);
                background-size: contain;
                cursor: pointer;
            }
        }
        &__footer {
            height: 200px;
        }
    }
  }

  @media screen and (max-width: 575px) {
    .ui-main__nav {
      display: none;
      visibility: hidden;
    }
    .ui-main__custom-sw {
      position: absolute;
      right: 40px;
    }
  }