/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #1b1b1b;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.t-center {
    text-align: center;
}

.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}
